!!! 5
%html
  %head
    %title> <%= file_path %>

    :javascript
      window.joosy = {
        libraries: #{extract_sources_and_sizes_from_include_tag('<%= file_path %>')}
      };

    = stylesheet_link_tag 'application'
    = csrf_meta_tags

  %body
    = javascript_include_tag '<%= file_path %>_preloader'
    #application
      #preloader
        Loading application...
        %span#percents 0%