!!!
%html
  %head
    %title
    %link{:href => "assets/application.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "assets/application.js", :type => "text/javascript"}
  %body