<% if (typeof namespace !== 'undefined' && namespace.length > 0) { -%>
Joosy.namespace '<%= namespace %>', ->

  class @<%= klass %>Widget extends Joosy.Widget
    @view '<%= view %>'
<% } else { -%>
class @<%= klass %>Widget extends Joosy.Widget
  @view '<%= view %>'
<% } -%>