!!!
%html
  %head
    %title
    %link{:href => "application.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}
    %script{:src => "application.js", :type => "text/javascript"}
  %body